#connector config policy
{
	"name":"bind_server",
	"type":"SERVER",
	"family":"AF_INET",
	"address":"0.0.0.0",
	"port":12100,
}
{
	"name":"trust_ca_client",
	"type":"CLIENT",
	"family":"AF_INET",
	"address":"172.21.4.25",
	"port":12581,
	"attr":"DEFAULT",
}
